caches/
backups/
link/.ssh/authorized_keys
link/.ssh/id_*
link/.ssh/known_hosts
link/.ssh/git*
*LOCAL*
.gnupg
link/.gnupg/*
*.swp
link/.mpd/mpdstate
link/.mpd/mpd.log
link/.mpd/mpd.pid
link/.mpd/mpdstate
link/.config/fish/fish_history
link/.config/fish/fish_read_history
link/.irssi/sasl.auth
link/.ssh/config
